<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<form action="" method="post">
    {% csrf_token %}

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="logo.png" class="d-block mx-lg-auto img-fluid" alt="PROJECT HESTIA" width="700" height="500">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Hestia</h1>
        <p class="lead">Modern Amenities. Timely payments. Sophisticated Style. Now just one click away!"Choose what's best for your home. Choose What's best for you!".</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="submit" class="btn btn-warning btn-lg px-4 me-md-2" name="menu">menu</button>
          <button type="submit" class="btn btn-primary btn-lg px-4 me-md-2" name="login">Login</button>
          <button type="submit" class="btn btn-outline-secondary btn-lg px-4" name="signup">Signup</button><br>

        </div>
      </div>
    </div>
  </div>

</form>
</body>
</html>