{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Do-little</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
      <link href="{% static 'css/styles.css' %}" rel = 'stylesheet'>
  </head>

  <body>

  <!-- navbar-->
  <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">DoNothing</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="position: absolute ; right : 20px ; ">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mood_table">Mood-Table</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <!--Title-->
  <div class = "text-center px-4 pt-5 my-5">
       <h1 class = 'display-4 fw-bold' >Questions :</h1>
        {% for question in questions %}
        <p class="lead mb-4">{{question}}.</p><hr>
      {% endfor %}
        <form action="" method="post">
            {% csrf_token %}
        <input type="number" name="index" min="1"><br>
        <button type="submit" name="solve" class="btn btn-danger">Solve</button>
        </form>
  </div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Why.</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        You're not going to do this task...Why even save it?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

































        <!-- toast-->
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="task-done" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                  <strong class="me-auto">Whyyyyyyyyy</strong>

                  <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                  You were not supposed to do that Task!!!
                </div>
        </div>
        </div>
    </div>

    <!--Toast Trigger-->
    <script>
            const toastTrigger = document.getElementsByClassName('liveToastBtn')
    const toastLiveExample = document.getElementById('task-done')
    if (toastTrigger) {
      toastTrigger.addEventListener('click', () => {
        const toast = new bootstrap.Toast(toastLiveExample)

        toast.show()
      })
    }
    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>



  </body>
</html>